<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toyota Store</title>
</head>
<body>
<h1>Hello, {{ current_user.username }}!</h1>
<br><br>
<b>Your API key is - {{current_user.api_token}}</b>
<br><br>
<h1>Available endpoints:</h1>
<br>
<b>/</b> (or <b>/index</b>) - this page
<br>
<b>/cars/all</b> - Get all cars
<br>
<b>/cars/range</b> - Get cars in price range
<br>
    body:<br>
        {"startPrice": value,<br>
         "endPrice": value}<br>
<b>/cars/add</b> - Add new car<br>
    body:<br>
    {"model": model_value,<br>
    "gearbox": gearbox_value,<br>
    "colour": colour_value,<br>
    "engine": engine_value}<br>
<br><br>
<b>/parts/model</b> - get modules<br>
<b>/parts/gearbox</b> - get gearboxes<br>
<b>/parts/colour</b> - get colours<br>
<b>/parts/engine</b> - get engine capacities
<br>
<a href="{{ url_for('auth.logout') }}">Logout</a>

</body>
</html>